$color-app-dark: #000000;
$color-app-invoice: #797474;

.footer__info {
  color: $color-app-invoice;
}

.footer__info:hover,
.footer__info:active {
  color: $color-app-dark;
  text-decoration: none;
}
