$color-app: #bb5353;
$color-error: #bf1650;
$color-app-light: #f1f1f1;
$color-app-dark: #343a40;
$color-app-invoice: #131516;
$colorFont: #ffffff;

.filter__bar {
  justify-content: space-between !important;
  margin-top: 2rem;
  background-color: $color-app;
}

.filter__bar select {
  font-size: 0.8rem;
}

.form__control {
  width: 13rem !important;
}
.filter__bar .form-label {
  color: $colorFont;
  font-weight: 500;
}

.form-group {
  font-weight: bolder;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}

.btn-primary,
.btn-secondary {
  width: 8rem;
  border: 0 !important;
  outline: 0 !important;
  text-transform: uppercase;
  font-size: 1rem !important;
}

.btn-primary {
  background-color: $color-app-dark !important;

  &:hover {
    background-color: $color-app-invoice !important;
  }
}
.btn-secondary {
  background-color: $color-app-dark !important;

  &:hover {
    background-color: $color-app-invoice !important;
  }
}

@media (max-width: 1200px) {
  .form__control {
    width: 10rem !important;
  }
}

@media (max-width: 991px) {
  .btn-primary {
    margin: 1rem 2rem;
  }
}

@media (max-width: 573px) {
  .filter__bar {
    flex-direction: column;
  }
  .form__control {
    width: 15rem !important;
  }
  .button_resetFilter {
    margin-top: 1rem;
  }
}
@media (max-width: 414px) {
  .filter__bar {
    margin-top: 3rem !important;
  }
}
@media (max-width: 290px) {
  .form__control {
    width: 12rem !important;
  }
}
