$color-app: #bb5353;
$color-app-light: #f1f1f1;
$colorFont: #ffffff;

.auth__form {
  max-width: 400px;
  margin: 3rem auto 1rem auto;
  border: 2px solid $color-app-light;
  padding-bottom: 1rem;
}
.auth__formInfo {
  max-width: 400px;
  margin: 0 auto 3rem auto;
}

.company_nav {
  background-color: $color-app;
  color: $colorFont;
  font-weight: 500;
  text-align: center;
  display: block;
}

.auth__form label {
  margin-bottom: 0.2rem;
}
.auth__form h2 {
  margin: 0 auto;
  color: $color-app;
}
@media (max-width: 767px) {
  .auth__formInfo {
    margin-bottom: 6rem;
  }
}

@media (max-width: 515px) {
  .auth__form h2 {
    font-size: 1.3rem;
    padding: 0 1rem 0 1rem;
  }
}
@media (max-height: 620px) {
  .auth__form {
    padding-bottom: 0.1rem;
  }
  .auth__formInfo {
    font-size: 0.8rem;
  }
  .auth__form label {
    font-size: 0.8rem;
  }
  .auth__form .invoice__save {
    margin: 0.4rem 2rem;
  }
}
