$color-app: #bb5353;
$color-error: #bf1650;
$color-app-light: #f1f1f1;
$color-app-dark: #552323;

.form__invoice {
  margin: 2rem 0 4rem 0;
  border: 2px solid $color-app-light;
  padding: 1rem;
}

.form__invoice .form-control {
  font-size: 12px;
}

.form__invoice label {
  margin-bottom: 0.2rem;
}

.invoice__label {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

.company__details {
  margin: 0 auto;
}

.table td,
.table th {
  vertical-align: middle;
  padding: 0.25rem;
}

.delete__button {
  vertical-align: middle;
}
p {
  font-weight: 500;
  font-size: 0.8rem;
  color: $color-error;
}

p::before {
  display: inline;
  content: '⚠ ';
}

.delete__button:hover,
.delete__button:active {
  cursor: pointer;
}

.form-row {
  justify-content: center;
}

hr {
  margin-top: 15px;
  margin-bottom: 8px;
}

h2 {
  font-size: 25px;
  font-weight: 200;
}

label.form-label {
  font-size: 14px;
}

.form__invoice .btn {
  background-color: $color-app;
  border: none;
}
.form__invoice .btn:hover,
.form__invoice .btn:active {
  background-color: $color-app-dark !important;
}

th.text-center {
  font-size: 14px;
}

.invoice__save {
  background-color: $color-app !important;
}

.invoice__save:hover,
.invoice__save:active {
  background-color: $color-app-dark !important;
}

@media (max-width: 991px) {
  .form__invoice {
    margin-bottom: 7rem;
  }
  .form__invoice .col-md-2 {
    max-width: 20%;
  }
  .choose__curency select.form-control {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .choose__curency {
    margin-bottom: 1rem;
    max-width: 7rem;
  }
}
@media (max-width: 400px) {
  .form__invoice {
    font-size: 0.8rem;
  }
  th.text-center {
    font-size: 0.7rem;
  }
}

.form__invoice p {
  color: $color-error;
  text-align: center;
  font-weight: 400;
}

.user_save {
  margin-top: 2rem;
}
