.invoice__generator {
  margin-top: 2rem;
}

.invoice__page {
  text-transform: uppercase;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid transparent;
  background: #bb5353;
  color: #fff;
}
.font-weight-lighter {
  font-weight: 300;
  background: #bb5353;
  color: #fff;
}

.my-3 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}
.my-5 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}
.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}
.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.border-bottom {
  border-bottom: 2px solid #000 !important;
  padding: 0px 0px 5px 0px;
}

p {
  color: #000;
}

p::before {
  content: none;
}

.contact__details {
  margin-bottom: 1rem;
  padding: 1.3rem;
}
.invoice__title {
  font-weight: 600;
  font-size: 1.1rem;
}

.invoice-note {
  color: rgb(49, 48, 48);
  text-transform: none;
  font-size: 0.7rem;
}

.signature {
  font-size: 0.7rem;
  color: rgb(49, 48, 48);
  text-transform: none;
  border-top: 1px solid black;
  margin-bottom: 0;
}

.signature__company {
  color: rgb(49, 48, 48);
  text-transform: none;
}

.invoiceCompany__logo {
  padding: 0;
  width: 130px;
  height: 65px;
}
.btn.btn-white,
.btn.btn-white.disabled,
.btn.btn-white.disabled:focus,
.btn.btn-white.disabled:hover,
.btn.btn-white[disabled],
.btn.btn-white[disabled]:focus,
.btn.btn-white[disabled]:hover {
  color: #2d353c;
  background: #fff;
  border-color: #d9dfe3;
}

.action__invoice {
  margin-right: 1rem;
}

.editInvoice__button a {
  color: black;
  text-decoration: none;
}

@media (max-width: 991px) {
  .invoice__createDetails {
    font-size: 0.8rem;
  }
  .invoice-note {
    margin-bottom: 7rem;
  }
}

@media (max-width: 767px) {
  .invoice__page {
    margin-top: 0.5rem !important;
  }
  .container {
    max-width: 640px;
  }

  .invoice-note {
    margin-bottom: 7rem;
  }

  .seller__details,
  .buyer__details {
    margin-bottom: 2rem;
  }
  .invoice__generator th,
  .invoice__generator td {
    font-size: 0.8rem;
  }
  .invoice__titleMain {
    font-size: 2.2rem;
  }
}

@media (max-width: 499px) {
  .seller__details p,
  .buyer__details p {
    font-size: 0.7rem !important;
  }
  .invoice__generator th,
  .invoice__generator td {
    font-size: 0.6rem;
  }
  .invoice-note {
    font-size: 0.6rem;
  }
  .invoice__titleMain {
    font-size: 1.8rem;
  }
  .signature__main p {
    font-size: 0.7rem;
  }
}
@media (max-width: 305px) {
  .invoice__generator th,
  .invoice__generator td {
    font-size: 0.55rem;
  }
}

@media (max-width: 288px) {
  .invoice__generator th,
  .invoice__generator td {
    font-size: 0.5rem;
  }
}
