$color-primary: #343a40;
$color-app: #bb5353;
$color-app-dark: #000000;
$colorFont: #ffffff;

.Navigation {
  height: 7.6vh;

  .inactive {
    color: $color-app-dark;
    text-decoration: none;
    border-bottom: none;
  }
  .Navigation .nav__link {
    font-weight: 600 !important;
  }

  .active {
    color: $color-app;
    text-decoration: none;
  }

  .inactive:hover {
    color: $color-primary;
  }

  .nav__link {
    font-size: 18px;
    margin: 0 24px 0 0px;
  }

  .dropdown-menu {
    right: -30px;
    left: auto;
    float: left;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: $color-app-dark;
    background-color: $colorFont;
  }

  .nav__brand {
    border-bottom: none;
  }

  .navbar-brand {
    padding: 0;
    width: 130px;
    height: 65px;
  }
  .nav-link {
    padding: 0 0.5rem !important;
  }
  .nav-link:last-child {
    padding: 0 0.2rem !important;
  }
}
