$color-primary: #343a40;

.Navigation {
  height: 7.6vh;
  margin-bottom: 1rem;

  .inactive {
    color: $color-primary;
    text-decoration: none;
    border-bottom: none;
  }

  .active {
    text-decoration: none;
    border-bottom: 2px solid $color-primary;
  }

  .inactive:hover {
    color: $color-primary;
    // text-decoration: none;
  }

  .nav__link {
    font-size: 20px;
    margin: 0 24px 0 0px;
  }

  .nav__brand {
    border-bottom: none;
  }

  .navbar-brand {
    padding: 0;
    width: 130px;
    height: 65px;
  }

  @media (max-width: 768px) {
    .navbar-brand {
      width: 100px;
      height: 50px;
    }
  }
}
