$color-app: #bb5353;
$colorFont: #ffffff;

.modal__message {
  font-size: 1.2rem;
  text-align: center;
  color: $colorFont;
  background-color: $color-app !important;
}

.btn-outline-warning {
  color: $color-app;
  border-color: $color-app;
}

.btn-outline-warning:hover {
  color: $colorFont;
  background-color: $color-app;
  border-color: $color-app;
}
