.modal__message {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: #bb5353 !important;
}

.btn-outline-warning {
  color: #bb5353;
  border-color: #bb5353;
}

.btn-outline-warning:hover {
  color: white;
  background-color: #bb5353;
  border-color: #bb5353;
}
