$color-app: #bb5353;
$color-error: #bf1650;
$color-app-light: #ccc;
$color-app-dark: #924444;
$color-app-invoice: #000000;
$color-app-single: #d47b7b;
$colorFont: #ffffff;

.custab {
  border-left: 1px solid $color-app-light;

  margin: 2rem 0;
  box-shadow: 3px 3px 2px $color-app-light;
  transition: 0.5s;
}

.pagination {
  padding: 1rem;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.invoice__noMatch {
  background-color: $color-app;
}
.invoice__noMatch span {
  font-size: 1.2rem;
  color: $colorFont;
  margin: 0 auto;
}

.invoices__thead th {
  font-size: 1.2rem !important;
  vertical-align: middle !important;
}

.deleteId_button,
.detailsId_button {
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  color: $color-app-dark !important;
  cursor: pointer;
  font-size: 1.5rem;
}

.deleteId_button:hover,
.detailsId_button:hover {
  color: $color-app-single !important;
}

.active__page {
  background-color: $color-app !important;
  border-color: $color-app !important;
}
.page-link {
  color: $color-app-invoice;
}

@media (max-width: 602px) {
  .invoices__thead th {
    font-size: 0.9rem !important;
  }
  .recipment__details td {
    font-size: 0.9rem;
  }
  .deleteId_button,
  .detailsId_button {
    font-size: 1.2rem;
  }
  .deleteId_button {
    margin-top: 0.5rem;
  }
}

@media (max-width: 420px) {
  .invoices__thead th {
    font-size: 0.8rem !important;
  }
  .recipment__details td {
    font-size: 0.8rem;
  }
  .deleteId_button,
  .detailsId_button {
    font-size: 1rem;
  }
  .invoice__noMatch span {
    font-size: 0.9rem;
  }
  .invoice__generator {
    margin-top: 4rem;
  }
}
@media (max-width: 388px) {
  .invoices__thead th {
    font-size: 0.7rem !important;
  }
  .recipment__details td {
    font-size: 0.7rem;
  }
}
@media (max-width: 353px) {
  .invoices__thead th {
    font-size: 0.6rem !important;
  }
  .recipment__details td {
    font-size: 0.6rem;
  }
}

@media (max-width: 318px) {
  .invoices__thead th {
    font-size: 0.5rem !important;
  }
  .recipment__details td {
    font-size: 0.5rem;
  }
  .deleteId_button,
  .detailsId_button {
    font-size: 0.8rem;
  }
}
